/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 8rem;
    padding-bottom: 8rem;
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.jumbotron {
    margin-bottom: 0;
}
/* downsize stacked icons*/
.fa-stack {
    font-size: 0.7em;
}