/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.09.2019, 17:43:02
    Author     : sp
*/

/*set font*/
small, address, p, strong, td, th, h1, h2, small, ul, li {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 1.4em;
}
table.pdf {
    border: solid 1px #000;
    border-collapse: collapse;
    width: 100%;
}
table.sign {
    width: 100%;
    margin-top: 20mm;
}
.sign td {
    padding-top: 7mm;
}
.pdf td, th {
    border: solid 1px #000;
}
.logo {
    width: 100mm;
}
.right {
    text-align: right;
}
hr {
    margin-bottom: 0;
}
.header {
    font-size: 0.7em;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}